@font-face{
    font-family:"AvenirNext";
    font-weight: normal; 
    font-style: normal; 
    src:url("./e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
    src:
    url("./e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),
    url("./2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),
    url("./1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),
    url("./46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"),
    url("./52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
}
@font-face{
    font-family:"AvenirNext";
    font-weight: normal; 
    font-style: italic; 
    src:url("./d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix");
    src:url("./d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix") format("eot"),
    url("./7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2") format("woff2"),
    url("./92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff"),
    url("./18839597-afa8-4f0b-9abb-4a30262d0da8.ttf") format("truetype"),
    url("./1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585.svg#1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585") format("svg");
}
@font-face{
    font-family:"AvenirNext";
    font-weight: 500; 
    font-style: normal; 
    src:url("./1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix");
    src: url("./1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix") format("eot"),
    url("./627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2") format("woff2"),
    url("./f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff"),
    url("./63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf") format("truetype"),
    url("./a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80") format("svg");
}
@font-face{
    font-family:"AvenirNext";
    font-weight: bold; 
    font-style: normal; 
    src:url("./dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix");
    src:url("./dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix") format("eot"),
    url("./14c73713-e4df-4dba-933b-057feeac8dd1.woff2") format("woff2"),
    url("./b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff"),
    url("./890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf") format("truetype"),
    url("./ed104d8c-7f39-4e8b-90a9-4076be06b857.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857") format("svg");
}
