.accordion-block {
  width: 778px;
  margin: auto;
  margin-bottom: 71.8px;

  &__desc {
    margin-top: 0;
    margin-bottom: 15px;
  }
}


.accordion,
.accordion * {
  box-sizing: border-box;
}

.accordion {
  overflow: hidden;
  background: #fff;
  width: 100%;
  font-size: 14px;
  line-height: 1.5
}


/*----- Section Titles -----*/

.accordion-section-title {
  width: 100%;
  display: inline-block;
  transition: all linear 0.15s;
  line-height: 73px;
  text-decoration: none;
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: $color-text;
  border-bottom: 1px solid $line-color;
}

.accordion-section-title.active {
  border-bottom: none;
}

/*----- Section Content -----*/

.accordion-section-content {
  display: none;
  background: #fff;
}

.accordion-section-content.open {
  border-bottom: 1px solid $line-color;
}

.active,
.open {
  display: block;
}

.arrow {
  transition: all .5s ease-in-out;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);

  width: 22px;
  height: 22px;
  border: solid 1px $color-main;
  border-radius: 50%;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 1px;
    background: $color-main;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 8px;
    background: $color-main;
  }
}

.accordion-section-title.active .arrow {
  transition: all .5s ease-in-out;
  background: $color-main;

  &::before {
    background: white;
  }

  &::after {
    content: none;
  }
}

@media (max-width: 820px) {
  .accordion-block {
    width: 100%;
  }
}

@media (max-width: $sm) {
  .accordion-block {
    margin-bottom: 20px;

    &__desc {
      margin-bottom: 0;
    }
  }

  .accordion-section-title {
    line-height: 1.22;
    font-size: 18px;
    padding: 18px 54px 18px 0;
  }

  .accordion-section-content > p {
    margin-top: 0;
  }
}