body {
    font-family: "AvenirNext";
    color: $text-color2;
  }

  p {
    font-size: 20px;
    line-height: 27px;
  }

.container {
    width: 960px;
    margin: 0 auto;
}

.h1 {
    margin-top: 16.8px;
    margin-bottom: 7px;
    text-align: center;

    font-size: 51px;
    font-weight: bold;
    line-height: 1.19;
    text-align: center;
    color: $color-main;

    &_marked {
        position: relative;
        display: inline-block;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 6px;
            background: url('../img/path-2.svg') no-repeat center;
        }
    }

    &__desc {
        width: 80%;
        margin: auto;
        margin-bottom: 44.2px;
        font-size: 24px;
        line-height: 1.33;
        text-align: center;
        color: $color-text;
    }
}

.h3 {
    margin: 0;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    line-height: 2.74;
    text-align: center;
    color: $color-main;
}

.text-block {
    position: relative;
    width: 778px;
    padding-bottom: 55px;
    margin: 0 auto 7px;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 283px;
        height: 1px;
        background: $line-color;
    }

    &__title {
        margin-bottom: 1px;
    }

    &__text {
        margin-top: 0;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}


@media (max-width: $md) {
    .container {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
    }
}

@media (max-width: 820px) {
    .text-block {
        width: 100%;

        &__title {
            line-height: 1.74;
        }
    }
}

@media (max-width: $sm) {
    p {
        font-size: 18px;
        line-height: 25px;
    }

    .h1 {
        margin-top: 8.1px;
        margin-bottom: 16px;
        font-size: 34px;
        line-height: 1.24;

        &__desc {
            width: 100%;
            font-size: 18px;
            line-height: 1.38;
        }
    }

    .h3 {
        font-size: 28px;
        line-height: 38px;
    }

    .text-block {
        width: 100%;
        padding-bottom: 39px;
        margin-bottom: 25px;

        &::after {
            width: 102px;
        }

        &__title {
            margin-bottom: 15px;
            font-size: 27px;
            line-height: 38px;
        }

        &__text {
            margin-bottom: 20px;
        }
    }
}

