#mm-blocker {
    background: rgba(255, 255, 255, 0.8);
}

.mm-panels {
    background-color: #f6f4ff;
}

.mm-listview>li:not(.mm-divider):after {
    content: none;
}

.mm-panels, .mm-panels>.mm-panel {
    border-color: transparent;
}

.mm-panels>.mm-panel>.mm-listview:first-child {
    margin-top: 30px;
}

.mm-listview, .mm-listview>li {
    text-align: center;
}

.mm-listview > li > a, .mm-listview > li > a:hover {
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}

#close-button {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 30px;
    border: 0;
    padding: 8px 10px 8px 30px;
    background: #fff url('../img/close-button.svg') no-repeat 10px center;
    background-size: 12px 12px;
    color: rgba(0,0,0,.75);
    font-weight: bold;
}

.mm-opened > #close-button {
    display: block;
}


.header {
    width: 100%;
    padding: 21px 40px 21px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: white;


    &__mobile-icon {
        display: none;
    }

    &__logo {
        width: 116.1px;
        height: 31.7px;
    }

    &__menu {
        display: flex;
        align-items: center;
    }

    &__link {
        margin-right: 17px;
        line-height: 25px;
        font-size: 18px;
        font-weight: 500;
        color: $color-main;
        text-decoration: none;

        &_btn {
            margin-right: 0;
            width: 154px;
            border-radius: 100px;
            background-color: $color-main;
            box-shadow: 0 12px 24px 0 rgba(124, 92, 209, 0.26);

            font-size: 18px;
            line-height: 42px;
            font-weight: bold;
            text-align: center;
            color: #ffffff;
            @include trans(0.1s);

            &:hover {
                background: #6C51B6;
            }
        }
    }
}

.header-sticky {
    position: fixed;
    z-index: 5;
    top: -100%;
    width: 100%;
    padding: 7px 40px 7px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: white;
    box-shadow: 0px 4px 34px -2px rgba(0, 0, 0, 0.116);
    transition: all 0.8s ease;

    &_opened {
        top: 0;
    }


    &__mobile-icon {
        display: none;
    }

    &__logo {
        width: 80px;
    }

    &__menu {
        display: flex;
        align-items: center;
    }

    &__link {
        margin-right: 17px;
        line-height: 25px;
        font-size: 18px;
        font-weight: 500;
        color: $color-main;
        text-decoration: none;

        &_btn {
            margin-right: 0;
            width: 154px;
            border-radius: 100px;
            background-color: $color-main;
            box-shadow: 0 12px 24px 0 rgba(124, 92, 209, 0.26);

            font-size: 18px;
            line-height: 42px;
            font-weight: bold;
            text-align: center;
            color: #ffffff;
            @include trans(0.1s);

            &:hover {
                background: #6C51B6;
            }
        }
    }
}


@media (max-width: $sm) {
    .header {
        padding: 32px 18px 15px 18px;

        &__mobile-icon {
            display: block;
            width: 19px;
            height: 21.1px;
            background: url('../img/menu-icon.svg') no-repeat center;
            background-size: cover;
        }

        &__menu {
            display: none;
        }

        &__logo {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }
    }

    .header-sticky {
        position: fixed;
        padding: 12px 18px 7px 18px;

        &__mobile-icon {
            display: block;
            width: 19px;
            height: 21.1px;
            background: url('../img/menu-icon.svg') no-repeat center;
            background-size: cover;
        }

        &__menu {
            display: none;
        }

        &__logo {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }
    }
}