$color-main: #7c5cd1;
$color-text: #514d55;
$text-color2: #514d56;
$line-color: rgba(81, 77, 86, 0.22);

/* breakpoints */
$sm: 767px;
$md: 991px;

/* other */
@mixin fontSH($size: 20px, $height: 27px) {
  font-size: $size;
  line-height: $height;
}

@mixin trans($duration: 0.3s) {
  transition: all $duration ease-in-out;
}

@mixin elemToCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin inversion($text-border-color: $color-main, $bg-color: #fff) {
  box-shadow: inset 0px 0px 0px 2px $text-border-color;
  background: $bg-color;
  color:  $text-border-color;
}