.top-block {
    margin-top: 100px;
    position: relative;
    width: 100%;
    background: url('../img/lines-background_402x.png') no-repeat center;
    background-size: contain;
    overflow: hidden;

    &__wrapper {
        height: 306px;
        box-sizing: border-box;
    }

    &__chart-wrapper {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }

    &__icon {
        position: absolute;
        display: flex;
        flex-direction: column;

        &::before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            width: 6.2px;
            height: 6.2px;
            border-radius: 50%;
            background-color: #b395eb;
            box-shadow: 0px 0px 0px 4px rgba(179, 149, 235, 0.2);
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            width: 1px;
            background: #b395eb;
        }


        &__icon-img {
            margin-bottom: 9px;
        }

        &_1 {
            left: -562px;
            top: 178px;

            &::before {
                top: -14px;
            }

            &::after {
                height: 47px;
                top: -58px;
            }
        }

        &_2 {
            left: -400px;
            top: 21px;

            &::before {
                bottom: -14px;
            }

            &::after {
                height: 43px;
                bottom: -54px;
            }
        }

        &_3 {
            left: -250.6px;
            top: 203px;

            &::before {
                top: -14px;
            }

            &::after {
                height: 42px;
                top: -53px;
            }
        }

        &_4 {
            right: -295px;
            top: 200px;

            &::before {
                top: -14px;
            }

            &::after {
                height: 44px;
                top: -55px;
            }
        }

        &_5 {
            right: -469px;
            top: 43px;

            &::before {
                bottom: -14px;
            }

            &::after {
                height: 49px;
                bottom: -59px;
            }
        }

        &_6 {
            right: -559px;
            top: 231px;

            &::before {
                top: -14px;
            }

            &::after {
                height: 44px;
                top: -55px;
            }
        }
    }
}

.chart {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 44.6px;
    width: 265.6px;
    height: 306px;
    margin: 0 auto;
    background: url('../img/paper-shadow.svg') no-repeat center;

    &__round {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 128px;
        height: 128px;
        background: linear-gradient(65deg, #fdbea3 0%, #f392d2 46%, #7c5cd1 97%);
        border-radius: 50%;
    }

    &__line {
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__icon-area {
        width: 110px;
        height: 110px;
        background: #fff url('../img/paper-user.svg') no-repeat center;
        border-radius: 50%;
    }

    &__title {
        margin: 0 auto;
        width: 145px;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.25;
        letter-spacing: -0.2px;
        text-align: center;
        color: $color-main;
        text-transform: uppercase;
    }

    &__marker {
        box-sizing: border-box;
        padding-left: 25px;
        position: absolute;
        display: flex;

        align-items: center;
        width: 78px;
        height: 31px;

        line-height: 16px;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
        color: #fff;
        text-transform: uppercase;
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);

        &::before {
            content: '';
            position: absolute;
            left: 7px;
            top: 10px;
            width: 18px;
            height: 20px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
        }

        &_vatta {
            background-color: $color-main;
            top: 26px;
            left: -23px;

            &::before {
                background: url('../img/vata-circle.svg') no-repeat center;
            }

            &::after {
                background: url('../img/vata-line.svg') no-repeat center;
                right: -46px;
                height: 13px;
                width: 75px;
                z-index: -1;
            }
        }

        &_pitta {
            background-color: #fdbea3;
            top: 43px;
            right: -67.4px;

            &::before {
                background: url('../img/pitta-circle.svg') no-repeat center;
            }

            &::after {
                background: url('../img/pitta-line.svg') no-repeat center;
                left: -69px;
                height: 13px;
                width: 103px;
                z-index: -1;
            }
        }

        &_kapha {
            background-color: #f492d2;
            top: 153px;
            right: -30px;

            &::before {
                background: url('../img/kapha-circle.svg') no-repeat center;
            }

            &::after {
                background: url('../img/kapha-line.svg') no-repeat center;
                left: -90px;
                height: 14px;
                width: 155px;
                top: 3px;
                z-index: -1;
            }
        }
    }
}


@media(max-width: $sm) {
    .top-block {
        display: inline-block;
        margin-top: 64px;
        background-size: 438px 253px;

        &__wrapper {
            height: 234px;
        }

        &__chart-wrapper {
            top: 11px;
        }

        &__icon {
            display: none;
        }
    }

    .chart {
        padding-top: 23px;
        padding-bottom: 11px;
        height: auto;
        width: 158px;
        background: #fff;
        box-shadow: 0 12px 24px 0 rgba(171, 161, 196, 0.12);

        &__round {
            margin-bottom: 12.5px;
            width: 104px;
            height: 104px;
        }

        &__icon-area {
            width: 85px;
            height: 85px;
            background-size: 65%;
        }

        &__title {
            font-size: 12px;
            line-height: 1.42;
            letter-spacing: -0.2px;
            text-align: center;
        }

        &__marker {
            padding-left: 19px;
            width: 60.7px;
            height: 25.4px;
            border-radius: 4px;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);

            font-size: 11px;
            line-height: 15px;

            &::before {
                top: 9px;
                left: 8px;
                width: 6.5px;
                height: 6.5px;
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
                background: rgba(255, 255, 255, 0.8);
                border-radius: 50%;
            }

            &_vatta {
                top: 16px;
                left: -52px;

                &::after {
                    right: -32px;
                    height: 13px;
                    width: 72px;
                    z-index: -1;
                }
            }

            &_pitta {
                top: 25.6px;
                right: -71.4px;

                &::after {
                    left: -47px;
                    height: 13px;
                    width: 109px;
                    z-index: -1;
                }
            }

            &_kapha {
                top: 105px;
                right: -56px;
                width: 63.7px;

                &::after {
                    left: -67px;
                    height: 14px;
                    width: 128px;
                    top: 0px;
                    z-index: -1;
                }
            }
        }
    }
}